body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    background-color: #131313;
  }

  .title {
    color: #ff5722;
    flex: 1;
    font-size: 24px;
  }

  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #basket-icon, #phone-icon {
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
  }

  #body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex: 1;
    margin-left: 300px;
    margin-right: 300px;
    background: url(bg.jpg) center/cover no-repeat;
  }