body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    background-color: #131313;
  }

  .title {
    color: #ff5722;
    flex: 1;
    font-size: 24px;
  }

  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #basket-icon, #phone-icon {
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
  }

  #body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex: 1;
    margin-left: 300px;
    margin-right: 300px;
    background: url(bg.jpg) center/cover no-repeat;
  }

  .pizza {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    height: 300px;
    width: 400px;
    max-width: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    color: #ddd;
  }

  .pizza img {
    max-width: 100%;
    max-height: 65%;
    border-radius: 8px;
  }

  .pizza-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
  }

  .pizza-ingredients {
    margin: 10px 0;
    font-size: 1.2em;
  }

  .pizza-price {
    color: #ff5722;
    font-size: 1.5em;
    font-weight: bold;
  }

  #footer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }

  #letakarbereg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 900;
    background-color: rgba(39, 39, 39, 0.767);
    display:none;
    text-align: center;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
  }
  #letakarbelogin{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 900;
    background-color: rgba(39, 39, 39, 0.767);
    display:none;
    text-align: center;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .ablak{
    z-index: 902;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: #202020;
    height: 500px;
    min-width: 420px;
    border-radius: 20%;
    color:#F5E2C8;;
  }

  button {
    box-shadow:inset 0px -1px 15px 3px #ff5722;
    background:linear-gradient(to bottom, #ff5722 5%, #000000 100%);
    background-color:#ffffff;
    border-radius:17px;
    border:2px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:10px 20px;
    text-decoration:none;
    text-shadow:0px 0px 0px #ff5722;
  }
  
  input{
    padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #b2b2b2;
     color: #000000;
     border-style: solid;
     border-radius: 15px;
     box-shadow: 0px 0px 7px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(98, 97, 97, 0.773);
  }